@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 400;
  src: local('RobotoDraft'), local('RobotoDraft-Regular'), url(../fonts/robotdraft.woff2) format('woff2'), url(../fonts/robotdraft.woff) format('woff');
}
l {
  cursor: pointer;
}
footer{
  background-color: rgb(3, 169, 244);
  padding-top: 10px;
  padding-left: 6.5%;
  color: whitesmoke;
  margin-bottom: 0px;
  padding-right: 6.5%;
  height: 125px;
  bottom: 0px;
}
body {
  background: #fafafa;
  font-family: "RobotoDraft",sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: whitesmoke;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
header, section, footer {
  padding-left: 6.5%;
  padding-right: 6.5%;
}
header {
  background-color: #03a9f4;
  margin-top: 0px;
  height: 250px;
  color: whitesmoke;
}
footer, header, section {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
header .section-wrapper {
  position: relative;
  padding-bottom: 35%;
}
.section-wrapper {
  margin: 0 auto;
}
header h1 {
  color: #fff;
  font-size: 4em;
  height: 1em;
  left: 0;
  line-height: 1;
  margin: auto;
  padding-top: 35px;
  text-align: left;
  width: auto;
}
.sub{
padding-left:15px;
}
.intro {
  padding-top: 90px;
  position: relative;
}
.intro .span-9 {
  float: none;
  width: 75%;
}
.intro p {
  color: #6c6c6c;
  font-size: 1.429em;
  font-weight: 400;
  line-height: 1.8;
}
.resources {
  margin: 0 auto;
  padding-top: 30px;
}
row:after {
  content: "";
  display: table;
  clear: both;
}
#atom {
  position: absolute;
  top: 16px;
  left: 936px;
  }
.menu {
  position: fixed;
  height: 100%;
  width: 300px;
  left: -280px;
  background-color: rgb(124, 190, 255);
  top: 0;
  z-index: 500;
  transition: all 0.5s;
  overflow:hidden;
}
.menu *{
    font-weight:700;
    color:whitesmoke;
    list-style-type: none;
    text-decoration: none;
    transition: all 0.1s;
}
.menu li {
  padding-bottom: 5px;
  }
.menu a:hover{
    text-decoration: none;
    color:tomato;
    font-weight:700;
    transition: all 0.1s;
}

.menu:hover {
  overflow:hidden;
  position: fixed;
  height: 100%;
  width: 300px;
  left: 0px;
  background-color: #03a9f4;
  top: 0;
  z-index: 500;
  transition: all 0.5s;
}
.pri {
font-size: 15px;
}
.ima
{
 margin-left: 50px;
}